<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>홈</title>
	</head>
	<body>
		<h1>홈 페이지</h1>
		<hr>
		<div>
			<a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
			<a sec:authorize="isAnonymous()" th:href="@{/signUp}">회원가입</a>
		</div>
		<div>
			<a th:href="@{/user/userInfo}">내 정보</a>
			<a th:href="@{/admin}">관리자</a>
		</div>
	</body>
</html>
